<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Av. Trimestral</title>
</head>
<body>
    <header>
        <h2> Av. Trimestral </h2>
        <nav>
            <a href="index.html"> Home </a>
            <a href="filiais/list.html"> Filiais </a>
        </nav>
    </header>

    <table class="table">
        <thead>
          <tr>
            <div class="bgCol">
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Localização</th>
            <th scope="col">Razão Social</th>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" ></th>
            <td> 1 </td>
            <td> Bryan Rassweiler </td>
            <td> 3A </td>
          </tr>
        </tbody>
      </table>

</body>
</html>